@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Libre+Baskerville:wght@400;700&display=swap');
/* font-family: 'Belanosima', sans-serif;
font-family: 'Libre Baskerville', serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

body{
    font-family: 'Libre Baskerville', serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-image: transparent;
}

::-webkit-scrollbar-thumb{
    background: #002e63;
    border-radius: 4px;
}


.logo{
    width: 15vw;
    margin: -6.7rem 0vw -6rem 1vw    
}

.menu{
    margin-top: -3rem;
    position: fixed;
    display: flex;
    padding: 1.3rem;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}

.menu .abajo{
    background: #fff;
    padding: 1.3rem;
}
        
.menu .logo{
    position: relative;
    font-size: 2em;
    transition: 1.5s;
}

li{
    display: inline-block;
    font-size: 1.2rem;
    padding: 8px 8px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.menu ul li a{
    text-decoration: none;
    color: #000;
}
.links-1{
    margin-left: 6vw;
}

.links-2{
    margin-left: 12vw;
}

.icons{
    width: 35px;
    position: absolute;
    margin: -16px 10px;
    opacity: .9;
}

.icon-carrito{
    margin-left: 40px;
}

.icon-search{
    margin: 6px -1.55vw;
    width: 23px;
}

.buscador{
    border: 1.7px solid rgb(0, 0, 0);
    padding: 1px 0px 1px 2.1rem;
    border-radius: 20px;
    margin-top: -6px;
}
.campo-buscar{
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
}

.campo-buscar:focus{
    outline: none;
}

.campo-buscar::placeholder{
    font-weight: 700;
    color: #3a3a3a;
}
/* vista central */
.vista-central{
    display: flex;
    margin: 3rem;
}
.video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    filter:brightness(75%)
}

.slogan{
    text-align: center;
    margin: 10vw auto;
}

.title-slogan{
    font-size: 9.5vw;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    -webkit-background-clip: text;
    background-position: 0;
}

.text-slogan{
    margin-top: -3.7rem;
    margin-bottom: 0.8rem;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
}

.redes{
    width: 34px;
    height: 34px;
    cursor: pointer;
    padding: 0px 5px;
    margin-bottom: 8%;
    background-color: #fff;
    border-radius: 50%;
}


/* -------------------- */
hr{
    width: 95%;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}

.catalogues{
    background-image: linear-gradient(45deg, #e7e7e7 70%, rgb(0, 14, 48) 280%);
    padding-bottom: 2rem;
}

.producto{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-family: 'Belanosima', sans-serif;
}

.title-producto,.title-offers,.title-aboutUs,.title-testimonios{
    padding-top: 2rem;
    color: #1f457a;
    font-size: 6vw;
    text-align: center;
}

.img-producto{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 5%;
    transition: .9s ease;
}

.img-producto:hover{
    transform: scale(1.05) rotate(-3deg);
}

.Catalogue-2:hover{
    transform: scale(1.05) rotate(3deg);
}

.text-producto{
    width: 60%;
    font-size: 1.3rem;
    text-align: left;
    padding: 0px 1.3rem;
    margin-top: 5rem;
}

.text-Catalogue-2{
    text-align: right;
}

.cta {
    cursor: pointer;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    margin: 2rem 0 0 0;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}
/* ----- new offers ----- */
.offers{
    background-color: #295ca3;
    margin-top: -18px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

.title-offers{
    color: #fff;
}

.container-carousel {
    margin: 3rem auto;
    position: relative;
    width: 800px;
    height: 500px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
  
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(85%);
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

/* ----- about us ----- */
.aboutUs{
    background-image: linear-gradient(45deg, #e7e7e7 70%, rgb(0, 14, 48) 280%);
    padding-bottom: 2rem;
    margin-top: -18px;
    display: flex;
    flex-direction: column;
}

.contain-descript{
    margin: 2rem auto;
    width: 82vw;
    height: 25rem;
    background-color: #ffffff;
}

.content-text-aboutUs{
    width: 50rem;
    height: 25rem;
    background-color: #3373cc;
    margin-left: auto;
}

.logo-about{
    position: absolute;
    width: 20vw;
    margin: 3rem 0 0 13.5vw;
}

.subtitle-about{
    color: #fff;
    font-size: 3rem;
    padding: 2rem 0 0 14vw;
}

.text-about{
    padding: 1.5rem 1rem 0 14vw;
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.6rem;
}

.testimonios{
    background-image: linear-gradient(45deg, #e7e7e7 70%, rgb(0, 14, 48) 280%);
    padding-bottom: 2rem;
    margin-top: -18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subtitle-reseña{
    margin-top: 2rem;
    font-size: 3rem;
}

.foto-perfil{
    margin-top: 1rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.name{
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.fecha{
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.text-reseña{
    font-size: 1.8rem;
}
.calificacion{
    font-size: 1.8rem;
    letter-spacing: 10px;
}



.pie-pagina{
    width: 100%;
    background-color: #fff;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.box-menu h2{
    text-align: center;
}
.box-menu li{
    display: block;
    text-align: center;
}

.box-menu a{
    text-decoration: none;
    color: #000;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1%;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.pie-pagina .grupo-1 .box p{
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    line-height: 45px;
    color: #000;
    margin-right: 23px;
    text-align: center;
    transition: all 300ms ease;
    
}

.pie-pagina .red-social img{
    width: 35px;
    height: 35px;
    margin-right: 4px;
    transition: .8s;
}

.pie-pagina .red-social img:hover{
    transform: scale(1.1) rotate(-8deg); 
}
.pie-pagina .grupo-2{
    background-color: #1f457a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .pie-pagina .grupo-1 .box figure img{
        margin-left: auto;
    }
}









































/* .title-slogan{
    font-size: 140px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    -webkit-background-clip: text;
    background-position: 0;
    margin-bottom: -2.5rem;
}

.text-slogan{
    color: #ffffff;
    position: absolute;
    margin: -7.3rem 0 0 1.1rem;
    letter-spacing: 5px;
    font-size: 37px;
    font-weight: bold;
    background-color: #00000094;
} */